


.banner{
	width:100%;
	margin:0 auto;
	height:196px;
	overflow:hidden;
	background:url(../img/group.jpg) no-repeat center;
	background-size:cover;
}
.content{
	width:980px;
	height:1199px;
	margin:0 auto;
}
.content_left{
	width:222px;
	height:1199px;
	float:left;
	border:1px solid #e7e7e7;
	border-top:0px;
	box-shadow:-2px 0px 3px #f1f1f1 inset;
}

.new_nav{
	width:222px;
}
.new_nav>li{
	width:182px;
	height:34px;
	border-bottom:1px solid #e7e7e7;
	padding:0 20px;
	line-height:34px;
	color:#858585;
}
.content_left>span{
	display:inline-block;
	width:222px;
	height:124px;
	margin:10px 0 10px 0;
	background:url(../img/icon.png) -317px -7px;
}
.other{
	width:222px;
}
.other>li{
	width:192px;
	height:35px;
	border-bottom:1px solid #e7e7e7;
	line-height:35px;
	padding-left:30px;
	color:#858585;
}
.other>li:nth-child(1){
	background:url(../img/icon.png) no-repeat  -336px -116px;
}
.other>li:nth-child(2){
	background:url(../img/icon.png) no-repeat  -648px -115px;
}
.other>li:nth-child(3){
	background:url(../img/icon.png) no-repeat  -648px -84px;
	border:0px;
}
.content_right{
	float:left;
	width:735px;
	height:1199px;
	border-right:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7;
	padding-left:20px;
}
.new_top{
	width:735px;
	height:30px;
	padding:10px 0;
	line-height:30px;
	border-bottom:1px solid #e7e7e7;
}
.new_top>h2{
	float:left;
	color:#7d7d7d;
	font-weight:normal;
	font-size:16px;
}
.new_top>span{
	float:right;
	color:#7d7d7d;
	padding:0 15px 0 15px;
	background:url(../img/icon.png)no-repeat -992px 10px ;
}
.video{
	width:640px;
	height:360px;
	background:#ccc;
	margin:15px 0 0 47.5px;
	background:url(../img/132.jpg);
}

.text>p{

	margin-top:20px;
	font-size:12px;
	color:#858585;
}




.botm{
	width:100%;
	text-align:center;
	margin-top:20px;
}
.botm>a{
	display:inline-block;
	width:40px;
	height:20px;
	border:1px solid #ccc;
	text-align:center;
	line-height:20px;
}
