/*通用属性*/
body{
	font:12px "microsoft yahei",Arial;
	color:#000;
	margin:0;
	padding:0;
}
ul,li,dl,dd,p,h1,h2,h3,h4,h5,h6,div{
	margin:0;
	padding:0;
	list-style:none;
}
input{
	border:0;

}
.lf{float:left;}
.rt{float:right;}
.clear{clear:both;}
a{text-decoration:none;}



.banner{
	width:100%;
	margin:0 auto;
	height:404px;
	overflow:hidden;
}
.banner>ul>li{
	width:100%;
	height:404px;
	background:url(../img/banner1.jpg) no-repeat center;
	background-size:cover;
}


.content{
	width:100%;
	height:425px;
	background:#f7f7f7;
}
.content_box{
	width:980px;
	height:262px;
	margin:0 auto;
	position:relative;
	top:-30px;
}
.content_box>ul{
	float:left;
	width:650px;
	height:276px;

}
.content_box>ul>li{
	width:281px;
	height:250px;
	background:#fff;
	float:left;
	margin-right:16px;
	padding:0 17px 10px 17px ;
	border:1px solid #d6d6d6;

}
.content_box>ul>li:nth-child(2){margin-right:0;}
.content_box>ul>li>h2{
	font-weight:normal;
	padding:10px 0;
}
.content_box>ul>li>p{
	color:#737373;
	line-height:20px;
}
.content_box>ul>li>div{
	width:97px;
	height:27px;
	margin-top:20px;
	line-height:27px;
	text-indent:35px;
	background:url(../img/icon.png) -545px -46px;
}
.content_box>ul>li a{
	color:#545454
}
.content_box>ul>li a:hover{
	color:#de2f34;
}

.content_box>.side_box{
	float:left;
	margin-left:13px;
	width:317px;
	height:262px;
}


.content_box>div>ul{
	width:315px;
	height:129px;
	background:url(../img/box.png);
}
.content_box>div>ul>li{
	float:left;
}
.content_box>div>ul>li:nth-child(1){
	width:111px;
	height:66px;
}
.content_box>div>ul>li:nth-child(2){
	width:103px;
	height:66px;
}
.content_box>div>ul>li:nth-child(3){
	width:101px;
	height:66px;
}
.content_box>div>ul>li:nth-child(4){
	width:111px;
	height:63px;
}
.content_box>div>ul>li:nth-child(5){
	width:103px;
	height:63px;
}
.content_box>div>ul>li:nth-child(6){
	width:101px;
	height:63px;
}
.content_box>div>ul>li:nth-child(1):hover{
	opacity:0;
}
.content_box>div>ul>li:hover{
	background:yellow;
	opacity:0.7;
}



.enen{
	width:317px;
	height:120px;
	margin-top:9px;
}
.enen>p{
	width:313px;
	height:39px;
	border:1px solid #e7e7e7;
	background:#fff;
	line-height:39px;
}
.enen>p:nth-child(1),.enen>p:nth-child(2){
	border-bottom:0px;
}

.enen>p:nth-child(1)>span{
	display:block;
	float:left;
	width:17px;
	height:17px;
	background:url(../img/icon.png)no-repeat -979px -33px;
	margin:10px 0 0 15px;

}
.enen>p:nth-child(2)>span{
	display:block;
	float:left;
	width:17px;
	height:18px;
	background:url(../img/icon.png)no-repeat -979px -75px;
	margin:10px 0 0 15px;

}
.enen>p:nth-child(3)>span{
	display:block;
	float:left;
	width:17px;
	height:17px;
	background:url(../img/icon.png)no-repeat -976px -120px;
	margin:10px 0 0 15px;
}
.enen>p>a{
	display:inline-block;
	color:#b1aab1;
	margin-left:20px;
}

.link{
	width:980px;
	height:50px;
	margin:0 auto;
	border-bottom:1px solid #e6e6e6;
}
.link>h3{
	width:70px;
	padding:10px;
	font-size:16px;
	color:#434343;
	font-weight:normal;
}
.foot_box{
	width:980px;
	height:62px;
	margin:0 auto;
}
.foot_box>ul>li{
	float:left;
	padding:10px 0;
}
